.card{
    cursor: pointer;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    max-height: 95px;
    width: 100% !important;

    display: flex;
    justify-content: center;
    align-items: center;
}